debug/
release/
*[Dd]ebug*
*[Rr]elease*
*qmake*
conf/
config/
Makefile*
*pro.user
.qtmodules
!qtmodules.pri
.Dockerfile*
*.ini
# Not in testfiles
!**/testfiles/localstorage/*.ini
#
.vscode
**.o
moc_**
mocks
**.moc
**.exe
object_script.*
target_wrapper.*
.qtc_clangd
**.pro.qtds
# App Binary
build/
redis-adapter
!src/redis-adapter
*test-results*
# Libs
**.pdb
**.ilk
**.lib
**.prl
**.a
*.dll*
*.so*

!*.cpp
!*.h
!*.hpp
!*.pri
!*.pro

**/__pycache__