[submodule "src/lib/hiredis"]
	path = src/lib/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "src/lib/googletest"]
	path = src/lib/googletest
	url = https://github.com/google/googletest
